<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1319459/pexels-photo-1319459.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
  <div class="container">
    <div class= 'wrapper'>
      <div>
        <h1><strong>Movies Categories List</strong>!</h1>
        <p>Create you lists and bookmarks!</p>
      </div>
      <div>
        <p><%= link_to "Barbers", "#link" %></p>
      </div>
    </div>
  </div>
</div>
<div id='link'></div>
<div class="cards" id="cards">
  <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
    <div class="card">
    <h1>Name</h1>
    <div class="description">
      <p>Rating</p>
      <p>Description</p>
    </div>
    <div>
      <p><%= link_to 'New List', new_list_path %></p>
    </div>
  </div>
</div>
